<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoMeds-Verify</title>
 </head>
 <body>
 </body>
</html>
</head>
<body>
    <div class="container">
        <div>
            <h2> To sell on CoMeds, you first need to verify your phone number.</h2>
        </div>
        <div>
            <form action="/user/mobileverifyS1" method="POST">
                <div>
                    <label for="phone">Enter your phone number: </label>
                    <input type="text" name="ccode" id="ccode" placeholder="+91" />
                    <input type="tel" name="phone" id="phone" placeholder="9876543210" />
                </div>
                <div>
                    <button type="submit">Proceed</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>