<footer id="abt">
    We are students of IIT (ISM) Dhanbad, who love working with technology. As the second wave of covid hits our country, many people are suffering from the shortage of oxygen cylinders and other covid curing medicines. Our Web App aimes at providing quick
    and nearby solutions to those who are suffering. As we all know the changes in the world occured during covid period are going to remain for a long haul. So, our Web App will be as useful in the post coovid era, as it can be used as a connection between
    supplier and buyers of medical equipmnent. It will remove the barrier of distance between the transacting parties. Itwill aslo help to bring the small scale businesses to connect and develop on the internet.
    <hr> Contact Us: covidoxymedicals@gmail.com
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
</script>
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/dummy.js"></script>
</body>

</html>