<%- include('../partials/header') %>

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10" style="margin-top: 8%;">
                <div class="card">
                    <h1 class="display-6" style="text-align: center;">To sell your product, register yourself as a
                        seller.</h1>
                </div>
                <div class="card mt-5">
                    <div class="card-body">
                        <form action="/producer/new" method="POST" id="form">
                            <div class="mb-3">
                                <label for="name" class="form-label">Enter your name:</label>
                                <input type="text" class="form-control" id="name" aria-describedby="usernameHelp"
                                    placeholder="Your Name" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Enter your name:</label>
                                <input type="text" class="form-control" id="name" aria-describedby="usernameHelp"
                                    placeholder="Your Name" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Enter your email:</label>
                                <input type="email" class="form-control" id="email" aria-describedby="usernameHelp"
                                    placeholder="Your Email" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Enter your Phone Number:</label>
                                <input type="tel" class="form-control" id="phone" aria-describedby="usernameHelp"
                                    placeholder="Your Phone Number" name="phone">
                            </div>
                            <div class="mb-3">
                                <label for="dateOfBirth" class="form-label">Date of Birth:</label>
                                <input type="date" class="form-control" id="dateOfBirth" aria-describedby="usernameHelp"
                                    placeholder="Your Date of Birth" name="dateOfBirth">
                            </div>
                            <div class="mb-3">
                                <label for="storeName" class="form-label">Enter your store/shop name:</label>
                                <input type="text" class="form-control" id="storeName" aria-describedby="usernameHelp"
                                    placeholder="Store/Shop Name" name="storeName">
                            </div>
                            <div class="mb-3">
                                <label for="storeStreet" class="form-label">Enter street where your shop is
                                    present:</label>
                                <input type="text" class="form-control" id="storeStreet" aria-describedby="usernameHelp"
                                    placeholder="storeStreet" name="storeStreet">
                            </div>
                            <div class="mb-3">
                                <label for="storeCity" class="form-label">Enter city where your shop is
                                    present:</label>
                                <input type="text" class="form-control" id="storeCity" aria-describedby="usernameHelp"
                                    placeholder="storeCity" name="storeCity">
                            </div>
                            <div class="mb-3">
                                <label for="storeState" class="form-label">Enter state where your shop is
                                    present:</label>
                                <input type="text" class="form-control" id="storeState" aria-describedby="usernameHelp"
                                    placeholder="storeState" name="storeState">
                            </div>
                            <div class="mb-3">
                                <label for="storePIN" class="form-label">Enter PIN of the locality where your shop is
                                    present:</label>
                                <input type="text" class="form-control" id="storePIN" aria-describedby="usernameHelp"
                                    placeholder="storePIN" name="storePIN">
                            </div>
                            <button type="submit" class="btn btn-success">Become a Seller</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>




    <!-- <h3>To sell your product, register yourself as a seller.</h3>
    <form action='/producer/new' method="POST">
        <div>
            <label for="name">Enter your name: </label>
            <input type="text" name="name" id="name" placeholder='Your name'>
        </div>
        <div>
            <label for="email">Enter your email: </label>
            <input type="email" name="email" id="email" placeholder="email">
        </div>
        <div>
            <label for="phone">Enter contact number: </label>
            <input type="tel" name="phone" id="phone" placeholder="Your contact number here">
        </div>
        <div>
            <label for="dateOfBirth">Date of Birth: </label>
            <input type="date" name="dateOfBirth" id="dateOfBiirth">
        </div>
        <div>
            <label for="storeName">Enter your store/shop name: </label>
            <input type="text" name="storeName" id="storeName" placeholder="Store/Shop name">
        </div>
        <div>
            <label for="storeStreet">Enter street where your shop is present:</label>
            <input type="text" name="storeStreet" id="storeStreet" placeholder="Street">
        </div>
        <div>
            <label for="storeCity">City</label>
            <input type="text" name="storeCity" id="storeCity" placeholder="City">
        </div>
        <div>
            <label for="storeState">State</label>
            <input type="text" name="storeState" id="storeState" placeholder="State">
        </div>
        <div>
            <label for="storePIN">PIN</label>
            <input type="text" name="storePIN" id="storePIN" placeholder="PIN">
        </div>
        <button>Become a seller</button>
    </form> -->
    <%- include('../partials/footer') %>